---
---
@charset "utf-8";

$main-color: #b83930;
$wall-color: rgba(255, 255, 255, 10);
$back-color: #e0e0e0;

$link-color: #d35400;
$link-hover-color: #f39c12;

$bg-color-1: #8e44ad;
$bg-color-2: #c0392b;
$bg-color-3: #2ecc71;
$bg-color-4: #d35400;
$bg-color-5: #2980b9;

$bg-light-1: mix(white, $bg-color-1, 90);
$bg-light-2: mix(white, $bg-color-2, 90);
$bg-light-3: mix(white, $bg-color-3, 90);
$bg-light-4: mix(white, $bg-color-4, 90);
$bg-light-5: mix(white, $bg-color-5, 90);

$button-color: #9b59b6;

@import "base";
