<header>
  <div class="container-fluid">
    <div class="container">
      <!-- Logo -->
      <a href="{{site.baseurl}}/">
        <img class="logo img-fluid" src="{{site.baseurl}}/assets/logo.png">
      </a>
      <!-- Menu for large devices -->
      <div class="d-none d-lg-block">
        {% for p in page.links %}
        <span class="tablink">
            {% if p.link == "home" %}
            <a href="{{site.baseurl}}/">{{p.name}}</a>
            {% else %}
            <a href="{{p.link}}">{{p.name}}</a>
            {% endif %}
        </span>
        {% endfor %}
      </div>
      <!-- Menu for small devices -->
      <div class="d-block d-lg-none dropdown">
        <button class="dropdown-toggle" type="button"
                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          <img class="img-fluid" src="{{site.baseurl}}/assets/menu.png">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% for p in page.links %}
          <button class="dropdown-item">
            {% if p.link == "baseurl" %}
            <a href="{{site.baseurl}}">{{p.name}}</a>
            {% else %}
            <a href="{{p.link}}">{{p.name}}</a>
            {% endif %}
          </button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</header>
