
<!-- Packages -->
<div class="container-fluid bg3">
  <div class="container wall">
    <div id="packages" class="row header-buffer"></div>
    <div class="row">
      <div class="col">
        <h1> Packages </h1>
      </div>
    </div>
    {% for p in page.packages %}
    <h3 class="packs pack-{{p.key}}">{{ p.name }}</h3>
    <div class="row text-left packages">
      <div class="col pack-col">
        {% for pl in p.list %}
        {% assign d = site.data.packages[pl] %}
        {% assign name = d.name %}
        <p class="text-justify">
        <span class="pack-name"> {{ name }}
          <a href="https://github.com/JuliaSmoothOptimizers/{{ name }}.jl">
            <img class="github img-fluid" src="{{site.baseurl}}/assets/github.png">
          </a>
        </span>
        {{ d.description }}
        </p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
