header {
  z-index: 100;
  background-color: #eee;
  border-bottom: 1px solid #333;
  color: white;
  position: fixed;
  top: 0px;
  height: 36px;
  text-align: right;
  width: 100%;
}

body {
  padding-top: 36px;
}

.logo {
  width: 32px;
  height: 32px;
  float: left;
}

.header-buffer {
  height: 36px;
}

// Buttons on header
.tablink {
  min-width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 40px;
  height: 34px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  a {
    padding: 10px;
  }
}

.dropdown-item {
  margin: 5px;
  &:active {
    background-color: $link-color;
  }
}

.tablink a, .dropdown-item a {
  border-radius: 0px;
  font-weight: bold;
  &, &:visited {
    color: $link-color;
    text-decoration: none;
  }
  &:hover, &:active {
    color: $link-hover-color;
    text-decoration: none;
  }
}

a {
  font-weight: bold;
  &, &:visited {
    color: $link-color;
    text-decoration: none;
  }
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

// Menu for small devices
.dropdown {
  .dropdown-toggle {
    height: 34px;
    border: 0px;
  }
}

// Title font
.banner, h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}

.portfolio {
  .button {
    background-color: mix(white, $button-color, 50);
    border: 1px solid $bg-color-1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    min-height: 80px;
    width: 100%;

    &, &:visited {
      color: black;
    }
    &:hover {
      background-color: $button-color;
      color: white;
      border-top-width: 5px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

@media (min-width: 576px) {
  .portfolio {
    .button {
      min-height: 150px;
    }
  }
}

// Content font
.container {
  font-family: 'Montserrat', sans-serif;
}

.larger-text {
  font-size: 1.25em;
}

// TODO: set font-size with media-query
.banner {
  font-size: 24pt;
  margin: 50px;
  //box-shadow: 0px 0px 100px 1px $main-color;
  text-align: center;
  //border-radius: 10px;

  img {
    max-height: 400px;
  }
}

@media (min-width: 768px) {
  .banner {
    font-size: 48pt;
  }
}

.wall {
  text-align: center;
  padding-bottom: 64px;
  border-width: 0px 3px;
  border-style: solid;
  h1 {
    margin-bottom: 50px;
  }
  min-height: 660px;
}

@media (min-width: 768px) {
  .wall {
    min-height: 1060px;
  }
}

.bg1 { background-color: $bg-color-1; }
.bg1 .wall {
  background-color: $bg-light-1;
  border-color: darken($bg-color-1, 10);
}
.bg2 { background-color: $bg-color-2; }
.bg2 .wall {
  background-color: $bg-light-2;
  border-color: darken($bg-color-2, 10);
}
.bg3 { background-color: $bg-color-3; }
.bg3 .wall {
  background-color: $bg-light-3;
  border-color: darken($bg-color-3, 10);
}
.bg4 { background-color: $bg-color-4; }
.bg4 .wall {
  background-color: $bg-light-4;
  border-color: darken($bg-color-4, 10);
}
.bg5 { background-color: $bg-color-5; }
.bg5 .wall {
  background-color: $bg-light-5;
  border-color: darken($bg-color-5, 10);
}

// Badges
.badges {
  p {
    margin: 4px;
  }
  .github {
    height: 32px;
  }
}

.badge-col {
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, mix(white, $bg-color-3, 80), $bg-color-3, mix(white, $bg-color-3, 80)) 1 1;
}

.jso-description {
  width: 80%;
  margin-bottom: 20px;
}

// Tutorials
ul {
  text-align: left;
  li {
    margin-bottom: 10px;
  }
}

.t-title {
  font-weight: bold;
}

.t-date {
  color: gray;
}

// References
.jsousage {
  ul img {
    height: 16px;
  }
}

.title {
  font-weight: bold;
}

.where {
  font-style: italic;
}

.date {
  color: gray;
}

// Footer
.footer {
  text-align: center;
  background-color: #333;
  color: #ccc;
  font-size: 0.75em;
  img {
    height: 16px;
  }
  a {
    &, &:visited {
      color: #eee;
      text-decoration: none;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
