@font-face {
  font-family: JuliaMono;
  src:
    local('JuliaMono'),
    url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

body {
  background: #333;
  color: white;
}

.sidebar {
  background: #454545;
}

th {
  background-color: #454545 !important;
  border-color: #454545 !important;
  text-align: left;
}

td {
  background-color: #333 !important;
  border-color: #454545;
}

strong {
  color: white;
}

.language-julia, .julia {
  background-color: rgb(34, 41, 41);
  color: #fff;
  border: 1px solid rgb(54, 173, 173);
}

.hljs-literal, .hljs-number, .hljs-tag .hljs-attr, .hljs-template-variable, .hljs-variable { color: rgb(231, 14, 213); }
.hljs-built_in { color: rgb(251, 255, 0); }
.hljs-comment { color: rgb(247, 255, 175); }
.hljs-keyword { color: rgb(255, 87, 36); }
.hljs-custom { color:rgb(226, 0, 19); font-weight: bold;}

.language-plaintext, .plaintext {
  background-color: #111;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-left: 20px;
  border-radius: 5px;
}

code {
  background-color: #222;
  color: rgb(230, 226, 45);
  font-family: 'JuliaMono', 'monospace';
}

.fndef tr, .fndef-backref, .fndef-content {
  border: 1px solid #66f !important;
  background-color: #112 !important;
}

.sidebar-about img {
  width: 100%;
}

body, .sidebar-about {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, .sidebar-about h1, .sidebar-nav {
  font-family: 'Nunito', serif;
  color: white;
}

h1#title {
  margin-bottom: 5px;
}

.franklin-content img {
  width: 90%;
  padding: 5%;
}

.franklin-content a, .sidebar-nav-item.active {
  color: rgb(230, 226, 45);
}

.katex {
  color: rgb(230, 226, 45);
  font-size: 1.2em !important;
}

.sidebar {
  border-right: 1px solid rgb(110, 110, 32);
  box-shadow: 0px 0px 10px #111;
}

.sidebar-nav-item {
  border-bottom: 1px solid #999;
}

.subitem {
  padding-left: 15px;
  border-bottom: 0px;
  font-size: 0.9em;
}

p {
  text-align: justify;
}

.author {
  color: rgb(154, 253, 173);
  width: 100%;
  text-align: right;
  font-variant: small-caps;
  font-size: 1.1em;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.badge {
  display: inline;
  padding: 0px !important;
  width: unset !important;
  border-radius: 0px;
}