{{if hasmath}} {{insert head_katex.html }}     {{end}}
{{if hascode}} {{insert head_highlight.html }}   {{end}}
<!-- <link rel="stylesheet" href="/css/franklin.css"> -->
<!-- <link rel="stylesheet" href="/css/poole_hyde.css"> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
<link rel="stylesheet" href="{{ isnotempty prepath }}{{ website_url }}{{ end }}/css/styles.css">
<!-- style adjustments -->
<style>
  html {font-size: 17px;}
  .franklin-content {position: relative; padding-left: 8%; padding-right: 5%; line-height: 1.35em;}
  @media (min-width: 940px) {
    .franklin-content {width: 100%; margin-left: auto; margin-right: auto;}
  }
  @media (max-width: 768px) {
    .franklin-content {padding-left: 6%; padding-right: 6%;}
  }
</style>
<link rel="icon" href="{{ isnotempty prepath }}{{ website_url }}{{ end }}/assets/favicon.png">
